<div style="direction: rtl">
    <ba-card title="فرم اطلاعات کاربر">
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">

            <div class="form-group row">
                <label class="col-sm-2 form-control-label">نام</label>
                <div class="col-sm-10">
                    <input type="text"
                           class="form-control"
                           placeholder="نام"
                           formControlName="firstName">
                    <div *ngIf="validationService.isFieldInvalid('firstName')"
                         class="alert alert-danger">
                        <div [innerHTML]="validationService.getMessage('firstName')"></div>
                    </div>
                </div>
            </div>


            <div class="form-group row">
                <label class="col-sm-2 form-control-label">نام خانوادگی</label>
                <div class="col-sm-10">
                    <input type="text"
                           class="form-control"
                           placeholder="نام خانوادگی"
                           formControlName="lastName">
                    <div *ngIf="validationService.isFieldInvalid('lastName')" class="alert alert-danger">
                        <div [innerHTML]="validationService.getMessage('lastName')"></div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 form-control-label">نام کاربری</label>
                <div class="col-sm-10">
                    <input type="text"
                           class="form-control"
                           placeholder="نام کاربری"
                           formControlName="login">
                    <div *ngIf="validationService.isFieldInvalid('login')" class="alert alert-danger">
                        <div [innerHTML]="validationService.getMessage('login')"></div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 form-control-label">رمز عبور</label>
                <div class="col-sm-10">
                    <input type="password"
                           class="form-control"
                           placeholder="رمز عبور"
                           formControlName="password">
                    <div *ngIf="validationService.isFieldInvalid('password')" class="alert alert-danger">
                        <div [innerHTML]="validationService.getMessage('password')"></div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 form-control-label">تکرار رمز عبور</label>
                <div class="col-sm-10">
                    <input type="password"
                           class="form-control"
                           placeholder="تکرار رمز عبور"
                           formControlName="passwordRepeat">
                    <div *ngIf="validationService.isFieldInvalid('passwordRepeat')" class="alert alert-danger">
                        <div [innerHTML]="validationService.getMessage('passwordRepeat')"></div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 form-control-label">پست الکترونیکی</label>
                <div class="col-sm-10">
                    <input type="email"
                           class="form-control"
                           placeholder="پست الکترونیکی"
                           formControlName="email">
                    <div *ngIf="validationService.isFieldInvalid('email')" class="alert alert-danger">
                        <div [innerHTML]="validationService.getMessage('email')"></div>
                    </div>
                </div>
            </div>


            <div class="form-group row">
                <div class="offset-sm-2 col-sm-10">
                    <button type="submit" class="btn btn-warning">ثبت نام</button>
                </div>
            </div>

        </form>


    </ba-card>
</div>